[Unit]
Description=IJulia
After=syslog.target network.target

[Service]
Restart=always
User=vagrant
Group=vagrant
ExecStart=/bin/sh -c 'export HOME=/home/vagrant&& julia -e "using IJulia; notebook()"'

[Install]
WantedBy=multi-user.target
